<%- include('components/head', { links: [{rel: "stylesheet", href: "/css/pages/game_end.css"}] }) %>


    <div class="flex flex-full flex-center overlay">
        <div class="inner">
            Jij hebt <strong class="wonS"></strong>
            <br>
            <a href="/">Terug naar start</a>
        </div>
    </div>

    <%- include('components/scripts') %>
    <script>
        let won = <%- won %>
        if(won){
            document.querySelector('.wonS').textContent = "gewonnen!"
            document.querySelector('.overlay').classList.add('won')
        }else{
            document.querySelector('.wonS').textContent = "niet gewonnen..."
        }
    </script>
        </body>

        </html>