<%- include('components/head', { links: [{rel: "stylesheet", href: "/css/pages/index.css"}] }) %> 

<div class="flex flex-full flex-center flex-column">
    <div class="input-code">
        <form method="post" class="flex flex-row">
            <div class="group">
                <input type="text" name="userName">
                <button type="submit"><i class="fas fa-chevron-right fa-lg"></i></button>
            </div>
            <span class="caption">Geef je naam in</span>
        </form>
    </div>
</div>

</body>
</html>